{% extends "DroneConesApp/misc/base.html" %}

{% block title %}Checkout{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{% static 'DroneConesApp/css/orderpage.css' %}">
<script src="{% static 'DroneConesApp/order.js'%}" defer></script>
<div class="content-container checkout-container">
    <h1 style="text-align: center; font-size: 30px">Checkout</h1>
    <hr style="margin-top: -20px; margin-bottom: 30px">
    <form action="" method="POST" id="checkout-form">
        <div class="section-container">
            <div class="section-title-container" id="summary">
                <div class="title">
                    <span class="material-symbols-outlined chevron" id="summary-chevron">
                        chevron_right
                    </span>
                    <span>
                        Order Summary
                    </span>
                </div>
                <div>
                    <span class="show-details" id="show-summary">
                        Show Details
                    </span>
                </div>
            </div>
        </div>
        <div class="details-container" id="summary-container">
            <div>Order Total</div>
            <div class="item-table" id="order-summary">
                <table cellpadding="30">
                    <tbody>
                        <tr class="no-hover">
                            <th>Item</th>
                            <th>Count</th>
                            <th>Cost</th>
                        </tr>
                        <!-- django for loop -->
                        <tr class="hover">
                            <td>Strawberry Icecream</td>
                            <td>1</td>
                            <td>$3</td>
                        </tr>
                    </tbody>
                    <hr>
                </table>
                <div class="total">
                    
                    <span>Total: </span>
                    <span>$3</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="section-container">
            <div class="section-title-container" id="billing">
                <div class="title">
                    <span class="material-symbols-outlined chevron" id="billing-chevron">
                        chevron_right
                    </span>
                    <span>
                        Billing Information
                    </span>
                </div>
                <div>
                    <span class="show-details" id="show-billing">
                        Show Details
                    </span>
                </div>
            </div>
        </div>
        <div class="details-container" id="billing-container">
            <div class="card-details">
                <!-- Credit Card Details -->
                <div>
                    {% csrf_token %}
                    Credit Card Details
                    <div class="unified-input form-input">
                        <input title="Please enter card number" required type="number" id="card-number" name="card-number" placeholder="Card Number">
                        <input title="Please enter expiration date" required type="text" id="expiration-date" name="expiration-date" placeholder="MM/YY">
                        <input title="Please enter cvv" required type="number" id="cvv" name="cvv" placeholder="CVV">
                    </div>
                    <div class="location-details">
                        Billing Address
                        <div class="unified-input form-input">
                            <input title="Please enter first name" type="text" id="first-name" name="billing-first-name" placeholder="First Name">
                            <input title="Please enter last name" required type="text" id="last-name" name="billing-last-name" placeholder="Last Name">
                        </div>
                        <div class="unified-input form-input">
                            <input title="Please enter address" required type="text" id="address" name="billing-address" placeholder="Address">
                            <input title="Please enter city" required type="text" id="city" name="billing-city" placeholder="City">
                        </div>
                        <div class="unified-input form-input">
                            <input title="Please enter state" required type="text" id="state" name="billing-state" placeholder="State">
                            <input title="Please enter zip code" required type="number" id="zip" name="billing-zip" placeholder="Zip" pattern="[0-9]{5}" maxlength="5">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <hr>
        <div class="section-container">
            <div class="section-title-container chevron" id="shipping">
                <div class="title">
                    <span class="material-symbols-outlined" id="shipping-chevron">
                        chevron_right
                    </span>
                    <span>
                        Shipping Information
                    </span>
                </div>
                <div>
                    <span class="show-details" id="show-shipping">
                        Show Details
                    </span>
                </div>
            </div>
        </div>
        <div class="details-container" id="shipping-container">
            <div class="card-details">
                <div>
                    {% csrf_token %}
                    <div class="location-details">
                        Shipping Address
                        <div class="unified-input form-input">
                            <input title="Please enter first name" required type="text" id="first-name" name="shipping-first-name" placeholder="First Name">
                            <input title="Please enter last name" required type="text" id="last-name" name="shipping-last-name" placeholder="Last Name">
                        </div>
                        <div class="unified-input form-input">
                            <input title="Please enter address" required type="text" id="address" name="shipping-address" placeholder="Address">
                            <input title="Please enter city" required type="text" id="city" name="shipping-city" placeholder="City">
                        </div>
                        <div class="unified-input form-input">
                            <input title="Please enter state" required type="text" id="state" name="shipping-state" placeholder="State">
                            <input inputmode="numeric" title="Please enter zip code" required type="number" id="zip" name="shipping-zip" placeholder="Zip" pattern="[0-9]{5}" maxlength="5">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <span id="error-message">Please fill out required fields</span>
        <div class="checkout-button">
            <button id="checkout-button" type="submit" class="button-primary half" style="text-align: center;" id="form-button" disabled title="Please fill out every field">Checkout</button>
        </div>
    </form>
</div>
{% endblock %}