{% extends "DroneConesApp/misc/base.html" %}

{% block title %}Order{% endblock %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'DroneConesApp/css/orderpage.css' %}">
<div class="content-container">
    <h1 style="text-align: center; font-size: 30px">Ice Cream</h1>
    <hr style="margin-top: -20px; margin-bottom: 30px">
    <div class="sub-content-container">
        <div class="option-list">
            <ul style="list-style: none; padding: 0; margin: 10px;">
                <li><a><img src="{% static 'DroneConesApp/images/Sprites/IceCream/all.png' %}" width="70px" height="70px"><span class="list-label">Ice Cream</span></a></li>
                <li><a><img src="{% static 'DroneConesApp/images/Sprites/Cones/all.png' %}" width="70px" height="70px"><span class="list-label">Cones</span></a></li>
                <li><a><img src="{% static 'DroneConesApp/images/Sprites/Toppings/all.png' %}" width="70px" height="70px"><span class="list-label">Toppings</span></a></li>
            </ul>
        </div>

        <div id="icecreamflavors" style="display: block; margin-left: 50px">
            {% for flavor in ice_cream_flavors %}
            <div id="{{flavor.flavor}}" style="display: inline-block"><a class="pick-icon" data-price="{{flavor.price}}" href="#"><img style="width: 100px; height: auto;" src="{% static 'DroneConesApp/images/Sprites/IceCream/'|add:flavor.flavor|add:'.png' %}"><li>{{flavor.flavor}}</li></a></div>
            {% endfor %}
        </div>

        <div id="coneflavors" style="display: none; margin-left: 50px">
            {% for flavor in cone_flavors %}
            <div style="display: inline-block"><a class="pick-icon" data-price="{{flavor.price}}" href="#"><img style="width: 100px; height: auto;" src="{% static 'DroneConesApp/images/Sprites/Cones/'|add:flavor.flavor|add:'.png' %}"><li>{{flavor.flavor}}</li></a></div>
            {% endfor %}
        </div>

        <div id="toppingflavors" style="display: none; margin-left: 50px">
            {% for flavor in topping_flavors %}
            <div style="display: inline-block"><a class="pick-icon" data-price="{{flavor.price}}" href="#"><img style="width: 100px; height: auto;" src="{% static 'DroneConesApp/images/Sprites/Toppings/'|add:flavor.flavor|add:'.png' %}"><li>{{flavor.flavor}}</li></a></div>
            {% endfor %}
        </div>

    </div>
</div>
<div class="content-container" style="margin-left: 50px; width: 40%; text-align: center">
    <form method="post" action="{% url 'DroneConesApp:order' %}">
        {% csrf_token %}
        <h1 style="text-align: center; font-size: 30px">My Order</h1>
        <hr style="margin-top: -15px; margin-bottom: 30px">
        <h4 style="text-align: center; margin-top: -25px; margin-bottom: 35px; font-size: 10px">*Click an item to remove it from your order*</h4>
        <div class="sub-content-container" id="myOrderContainer" style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: -30px; margin-left: 0; padding: 0">
            <div id="order-container" style="display: flex;flex-direction: row;flex-wrap: wrap;">
                <div id="blank-order-item" style="text-align: center">
                    <p>There are currently no items in your cart!</p>
                </div>
            </div>
            <div style="text-align: right; width: 80%">
                <br>
                <a id="add-order-item" class="button" style="display: block; text-align: center;">+ Add Another Item</a>
                <div>
                    <span>Order Amount: $</span>
                    <input type="hidden" id="total-price-input" name="total-price-input">
                    <span id="total-price" style="font-weight: bold; margin-right: 20px">0.00</span>
                </div>
            </div>
        </div>
        <button id="checkout-button" class="button" type="submit" style="width: 80%; margin-top: 10px">
            <img src="{% static 'DroneConesApp/images/checkout.png' %}" height="14px" width="auto"> Checkout
        </button>
    </form>
</div>

<script>
let blank = document.getElementById('blank-order-item');
const addOrderItemButton = document.getElementById('add-order-item')
const optionList = document.querySelector('.option-list ul');
const optionItems = optionList.querySelectorAll('li');
const iceCreamFlavors = document.getElementById('icecreamflavors');
const coneFlavors = document.getElementById('coneflavors');
const toppingFlavors = document.getElementById('toppingflavors');
const flavorDivs = document.querySelectorAll('.pick-icon');
const myOrderContainer = document.getElementById('order-container');
let totalPrice = 0;

addOrderItemButton.addEventListener('click', () => {
    blank.remove()

    const orderItemContainer = document.createElement('div');
    orderItemContainer.classList.add('order-item-container');
    orderItemContainer.setAttribute('data-active', true);

    orderItemContainer.innerHTML = `
        <div class="ice-cream-cone-container">
            <div class="topping-layer">

            </div>
            <div class="ice-cream-layer">

            </div>
            <div class="cone-layer">

            </div>
        </div>

        <div class="item-name-container">
            <ul name="item-names" id="item-names">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3</li>
            </ul>
        </div>

        <div class="edit-options-container">
            <div class="order-item-actions">
                <button class="edit-item">Edit</button>
                <button class="remove-item">Remove</button>
            </div>
            <div class="order-item-quantity">
                <input type="number" value="1" min="1" max="10" step="1">
            </div>
        </div>
    `;
});


optionItems.forEach((item) => {
    item.addEventListener('click', () => {
        optionItems.forEach((el) => {
            el.classList.remove('selected');
        });
        item.classList.add('selected');
        const selectedOption = item.querySelector('a > span').textContent.toLowerCase();
        iceCreamFlavors.style.display = 'none';
        coneFlavors.style.display = 'none';
        toppingFlavors.style.display = 'none';

        if (selectedOption === 'ice cream') {
            iceCreamFlavors.style.display = 'block';
        } else if (selectedOption === 'cones') {
            coneFlavors.style.display = 'block';
        } else if (selectedOption === 'toppings') {
            toppingFlavors.style.display = 'block';
        }
    });
});


flavorDivs.forEach((flavorDiv) => {
    const flavorImage = flavorDiv.querySelector('img');
    const flavorName = flavorDiv.querySelector('li').textContent;
    const flavorPrice = Number(flavorDiv.getAttribute('data-price'));
    let isButtonVisible = false;

    // Create the "Add to Order" button
    const addButton = document.createElement('button');
    addButton.textContent = 'Add to Order';
    addButton.style.display = 'none';
    addButton.class = 'button'

    flavorDiv.appendChild(addButton);

    flavorDiv.addEventListener('click', () => {
        if (!isButtonVisible) {
            addButton.style.display = 'block';
            isButtonVisible = true;
        } else {
            addButton.style.display = 'none';
            isButtonVisible = false;
        }
    });

    addButton.addEventListener('click', () => {
    // Create a new entry in the order
    const orderEntry = document.createElement('div');
    orderEntry.classList.add('order-entry');
    orderEntry.setAttribute('data-price', flavorPrice.toString());
    const orderImage = flavorImage.cloneNode(true);
    orderImage.style.width = '70px';
    const orderName = document.createElement('span');
    orderName.textContent = flavorName;
    orderEntry.appendChild(orderImage);
    orderEntry.appendChild(orderName);
    myOrderContainer.appendChild(orderEntry);

    const hiddenNameInput = document.createElement('input');
    hiddenNameInput.type = 'hidden';
    hiddenNameInput.name = 'order_item_name[]';
    hiddenNameInput.value = flavorName;

    orderEntry.append(hiddenNameInput)

    orderEntry.addEventListener('click', () => {
        removeItemFromOrder(orderEntry);
    });

    // Update the total price
    totalPrice += (flavorPrice / 100);
    document.getElementById('total-price').textContent = totalPrice.toFixed(2); // Display as currency
    document.getElementById('total-price-input').value = totalPrice.toFixed(2);
    blank.remove()
});

});

function removeItemFromOrder(itemElement) {
    itemElement.remove();
    // Recalculate the total price after removing the item
    const orderItems = collectOrderItems();
    updateTotalPrice(orderItems);
}

function updateTotalPrice(orderItems) {
    const totalPrice = calculateTotalPrice(orderItems);
    document.getElementById('total-price').textContent = totalPrice.toFixed(2); // Display as currency
}

function calculateTotalPrice(orderItems) {
    totalPrice = 0;
    for (const orderItem of orderItems) {
        totalPrice += orderItem.price;
    }
    return totalPrice;
}

function collectOrderItems() {
    const orderItems = [];
    const orderEntryElements = document.querySelectorAll('.order-entry');

    orderEntryElements.forEach((entry) => {
        const imageSrc = entry.querySelector('img').src;
        const itemName = entry.querySelector('span').textContent;
        const price = Number(entry.getAttribute('data-price'))/100
        orderItems.push({ imageSrc, itemName, price });
        // Add a click event listener to remove the item when clicked
        entry.addEventListener('click', () => {
            removeItemFromOrder(entry);
        });
    });

    if(orderItems.length === 0){
        blank = document.createElement('div');
        blank.style.textAlign = "center";
        blank.innerHTML = `<p>There are currently no items in your cart!</p>`;
        myOrderContainer.appendChild(blank)
    }

    return orderItems;
}

</script>




{% endblock %}