{% extends "DroneConesApp/misc/base.html" %}

{% block title %}Change Password{% endblock %}

{% load static %}
{% block content %}
    <div class="content-container">
        <h1 style="text-align: center">Change Password</h1>
        {% if messages%}
        <ul class="messages">
            {% for message in messages %}
                <li class="error-message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form method="post" style="display:flex;justify-content: center;align-items:center;flex-direction:column;" action="{% url 'DroneConesApp:change_password' %}">
            {% csrf_token %}
            <div style="margin-bottom: 5px;">
              <label for="size">Current Password</label>
              {{ form.current_password.errors }}
              <input name="current_password" id="current_password" type="password"/>
            </div>
    
            <div style="margin-bottom: 5px;">
                <label for="password">New Password</label>
                {{ form.new_password.errors }}
                <input name="new_password" id="password" type="password"/>
            </div>

            <div style="margin-bottom: 5px;">
                <label for="confirm_new_password">New Password</label>
                {{ form.confirm_new_password.errors }}
                <input name="confirm_new_password" id="confirm_new_password" type="password"/>
            </div>
            
            <button style="width:250px;" type="submit">
              Update Password
            </button>
          </form>
    </div>
{% endblock %}