body {
    display: flex;
    background-color: #0000;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}

html {
    align-self: flex-start;
}

p {
    color: black;
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.full-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    width: 60%;
    margin: 80px auto;
}

h2 {
    align-self: flex-start;
    background-color: black;
    color: black;
    text-decoration: underline;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

h3 {
    align-self: flex-start;
    color: white;
}

pre {
    white-space: pre-wrap;
    align-self: flex-start;
}

.nav-container{
    background-color: #AA4465;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    gap: 10px;
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
    height: auto;
    justify-content: space-between;
}

.navigation {
    display: flex;
=======
    background-color: lavender;
=======
    background-color: mediumpurple;
>>>>>>> 44dd902 (Changed navbar links, background, added slideshow)
    justify-content: space-evenly;
>>>>>>> f5ee68c (created landing-page branch with some initial changes)
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    z-index: 1;
}
#menuButton {
    z-index: 2;
}
.link_container {
    display: inline-block;
    margin-right: 50px;
    position: relative;
    color: black;
    z-index: 1;
}
.link_container::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 115%;
    transform: scaleX(0);
    height: 40px;
    bottom: -10px;
    left: -7%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
    border-radius: 10px;
}

.link_container:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
    z-index: 0;
}

a:link {
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 2;
}


a:visited {
    text-decoration: none;
    color: black;
    z-index: 2;
}


a:hover {
    text-decoration: none;
    color: white;
    transition: color 0.3s ;
    z-index: 2;
}

a:active {
    text-decoration: none;
    color: white;
    z-index: 2;
}

.navdrawer {
    background-color: #8F5C38;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 87px;
    left: -305px;
    bottom: 0;
    width: 300px;
    box-shadow: 2px 5px 5px rgb(1,1,1);
    transition: all .3s ease;
}

.navdrawer[data-open='true']{
    left: 0;

}
.navdrawer > a {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: left;
    gap: 8px;

}

#menuButton {
    position: fixed;
    display: block;
    top: 35px;
    left: 30px;
    font-size: xx-large;
    cursor: pointer;

}
.button-container {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon-button {
    background-color: #312F2F;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 1px 5px rgb(1,1,1);
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color 0.1s ease-in;
}

.icon-button:hover {
    background-color: #AA4465;
}

.clicked {
    box-shadow: none;
}

.FAB {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF0DA;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: background-color 0.4s ease;
    box-shadow: 2px 2px 5px rgb(1,1,1);
    cursor: pointer;
}

.FAB:hover {
    background-color: #AA4465;
}

.clicked {
    box-shadow: none;
}

* {box-sizing:border-box}


.Containers {
    display: none;
}

/*.Back, .forward {*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 48%;*/
/*    width: auto;*/
/*    margin-top: -23px;*/
/*    padding: 17px;*/
/*    color: grey;*/
/*    font-weight: bold;*/
/*    font-size: 19px;*/
/*    transition: 0.4s ease;*/
/*    border-radius: 0 5px 5px 0;*/
/*}*/

/*.forward {*/
/*    right: 0;*/
/*    border-radius: 4px 0 0 4px;*/
/*}*/

/*.Back:hover, .forward:hover {*/
/*    background-color: rgba(0,0,0,0.8);*/
/*}*/

.slideshow-container {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 100%;
    transition: transform 0.3s ease;
}

img {
    width: 100%;
    height: auto;
}

button.prev,
button.next {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

button.prev {
    left: 0;
}

button.next {
    right: 0;
}


.Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

.fade {
    animation-name: fade;
    animation-duration: 1.4s;
}


@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes raise {
    0% {box-shadow: none;}
    50% {box-shadow: 0 10px 10px rgb(100, 100, 100);
        color: rgb(200, 200, 200)}
    100% { box-shadow: none; }
}