body {
    display: flex;
    background-color: #F0DFAD;
    background-image: url("DroneConesApp/twocones.jpg");
    background-position: center;
    background-size: 1500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}

html {
    align-self: flex-start;
}

p {
    color: white;
}


.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.full-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start;
    width: 60%;
    margin: 80px auto;
}

h2 {
    align-self: flex-start;
    background-color: white;
    color: black;
    text-decoration: underline;
    padding: 5px;
    border-radius: 5px;
    margin-top: 30px;
}

h3 {
    align-self: flex-start;
    color: white;
}

pre {
    white-space: pre-wrap;
    align-self: flex-start;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    gap: 10px;
    display: flex;
    background-color: #AA4465;
    justify-content: space-evenly;
    align-items: center;
    font-family: sans-serif;
    margin: 0;
    z-index: 1;
}
#menuButton {
    z-index: 2;
}
.link_container {
    display: inline-block;
    position: relative;
    color: black;
}
.link_container::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.link_container:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:link {
    text-decoration: none;
    color: black;
}


a:visited {
    text-decoration: none;
    color: black;
}


a:hover {
    text-decoration: none;
    color: white;
    transition: color 0.3s ;
}

a:active {
    text-decoration: none;
    color: white;
}

.navdrawer {
    background-color: #8F5C38;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
    position: fixed;
    top: 87px;
    left: -305px;
    bottom: 0;
    width: 300px;
    box-shadow: 2px 5px 5px rgb(1,1,1);
    transition: all .3s ease;
}

.navdrawer[data-open='true']{
    left: 0;

}
.navdrawer > a {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    justify-content: left;
    gap: 8px;

}

#menuButton {
    position: fixed;
    top: 35px;
    left: 30px;
    font-size: xx-large;
    cursor: pointer;

}
.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icon-button {
    background-color: #312F2F;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 1px 5px rgb(1,1,1);
    cursor: pointer;
    text-transform: capitalize;
    transition: background-color 0.1s ease-in;
}

.icon-button:hover {
    background-color: #AA4465;
}

.clicked {
    box-shadow: none;
}

.FAB {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF0DA;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: background-color 0.4s ease;
    box-shadow: 2px 2px 5px rgb(1,1,1);
    cursor: pointer;
}

.FAB:hover {
    background-color: #AA4465;
}

.clicked {
    box-shadow: none;
}

* {box-sizing:border-box}

.slideshow-container {
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
}

.Containers {
    display: none;
}

.Back, .forward {
    cursor: pointer;
    position: absolute;
    top: 48%;
    width: auto;
    margin-top: -23px;
    padding: 17px;
    color: grey;
    font-weight: bold;
    font-size: 19px;
    transition: 0.4s ease;
    border-radius: 0 5px 5px 0;
}

.forward {
    right: 0;
    border-radius: 4px 0 0 4px;
}

.Back:hover, .forward:hover {
    background-color: rgba(0,0,0,0.8);
}

.Info {
    color: #e3e3e3;
    font-size: 16px;
    padding: 10px 14px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.MessageInfo {
    color: #f2f2f3;
    font-size: 14px;
    padding: 10px 14px;
    position: absolute;
    top: 0;
}

img {

}

.dots {
    cursor: pointer;
    height: 16px;
    width: 16px;
    margin: 0 3px;
    background-color: #312F2F;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.enable, .dots:hover {
    background-color: #717161;
}

.fade {
    animation-name: fade;
    animation-duration: 1.4s;
}


@keyframes fade {
    from {opacity: .5}
    to {opacity: 2}
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
    height: 200px;
}

.inner_circle {
    display: flex;
    background-color: orangered;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 0;
    animation: sub_animate linear 3s infinite;
}
@keyframes sub_animate {
    0% {
        margin: 0;
    }
    50% {
        margin: 4px;
    }
}
@keyframes loading1 {
    0% {
        padding: 0;
        transform: rotateZ(0deg);
    }
    50% {
        padding: 3px;
        width: 60px;
        height: 60px;
        transform: rotateZ(180deg);
    }
    100% {
        padding: 0;
        width: 35px;
        height: 35px;
        transform: rotateZ(360deg);
    }
}
#spinner1 {
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 35px;
    height: 35px;
    flex-wrap: wrap;
    animation: loading1 linear 3s infinite;
}

.textSpinner {
    display: flex;
    background-color: steelblue;
    color: white;
    height: 20px;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    animation: raise 3s infinite;

}

@keyframes raise {
    0% {box-shadow: none;}
    50% {box-shadow: 0 10px 10px rgb(100, 100, 100);
        color: rgb(200, 200, 200)}
    100% { box-shadow: none; }
}
#spinner2 {
    width: 25px;
    height: 10px;
}

#spinner3 {
    width: 30px;
    height: 30px;
}

#sunflower {
    width: 100px;
    height: 100px;
    animation: spin 3s infinite;
}

#vine {
    width: 1px;
    height: 1px;
    rotate: -45deg;
    position: relative;
    left: 30px;
    bottom: 45px;
}

@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.all-spinners {
    display: flex;
    flex-direction: row;

}