{% extends "DroneConesApp/misc/base.html" %}

{% block title %}Dashboard{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'DroneConesApp/css/landing.css' %}">
<div class="vertical-center">
<h2> Craving that frozen cream while out and about? Look no further! We'll fly it straight to you!</h2>
<button style="width:100%;">
    <a href="{% url 'DroneConesApp:order' %}" style="width: 100%; display: flex; justify-content: center;"> Order Now!!
    </a>
</button>

</div> 

{% endblock %} 