{% extends "DroneConesApp/misc/base.html" %}

{% block title %}About Us - My Website{% endblock %}

{% block content %}
<style>
    .top-padding {
        height: 50px; /* Adjust the height as needed for your desired padding */
    }
</style>
<div class="top-padding"></div>

    <div class="button-container">
        <button id="Drones">Drones</button>
        <button id="Ice Cream">Ice Cream</button>
        <button id="Orders">Orders</button>
        <button id="Toppings">Toppings</button>
    </div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Condition</th>
            <th>Count</th>
            <th>Date</th>
        </tr>
        <tr>
            <td>Row 1, Column 1</td>
            <td>Row 1, Column 2</td>
            <td>Row 1, Column 3</td>
            <td>Row 1, Column 4</td>
            <td>Row 1, Column 5</td>
        </tr>
        <tr>
            <td>Row 2, Column 1</td>
            <td>Row 2, Column 2</td>
            <td>Row 2, Column 3</td>
            <td>Row 2, Column 4</td>
            <td>Row 2, Column 5</td>
        </tr>
        <tr>
            <td>Row 3, Column 1</td>
            <td>Row 3, Column 2</td>
            <td>Row 3, Column 3</td>
            <td>Row 3, Column 4</td>
            <td>Row 3, Column 5</td>
        </tr>
    </table>

{% endblock %}
