{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ section.title }}{% endblock %} </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- <link rel="stylesheet" href="{% static 'DroneConesApp/mainStyle.css' %}"> -->
    <link rel="stylesheet" href="{% static 'DroneConesApp/base.css' %}">
    <script src="{% static 'DroneConesApp/base.js'%}" defer></script>
</head>
<body>

    <div class="mask" id="mask"></div>

    <nav class="nav-bar">
        <div class="nav-title">
            <button class="menu-button" id="drawer-button">
                <span class="material-icons" id="menu-icon">menu</span>
            </button>
            <img src="{% static 'DroneConesApp/images/icon.png' %}" alt="logo" class="logo">
            <span>Drone Cones</span>
        </div>
        <div class="nav-links">
            <a href="{% url 'DroneConesApp:home' %}" class="nav-item">Dashboard</a>
            <a href="{% url 'DroneConesApp:flyerportal' %}" class="nav-item">Flyers</a>
            {% if user.groups.all %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Admin' %}
                        <a href="{% url 'DroneConesApp:adminpanel' %}" class="nav-item">Admin</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'DroneConesApp:account' %}" class="nav-item">Account</a>
            {% else %}
                <a href="{% url 'DroneConesApp:login' %}" class="nav-item">Login</a>
            {% endif %}
        </div>
    </nav>
    <nav class="nav-drawer" id="nav-drawer">
        <a href="{% url 'DroneConesApp:home' %}" class="nav-item"> Dashboard</a>
            <a href="{% url 'DroneConesApp:flyerportal' %}" class="nav-item">Flyers</a>
            {% if user.groups.all %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Admin' %}
                        <a href="#" class="nav-item">Admin</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'DroneConesApp:account' %}" class="nav-item">Account</a>
            {% else %}
                <a href="{% url 'DroneConesApp:login' %}" class="nav-item">Login</a>
            {% endif %}
            <a href="{% url 'DroneConesApp:faq' %}" class="nav-item">FAQ</a>
    </nav>

    <div class="main-content-container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>