{% extends "DroneConesApp/misc/base.html" %}

{% block title %} Manage Drones {% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'DroneConesApp/flyerportal.css' %}">

{% if error_message %}
    <div class="error">{{ error_message }}</div>
{% endif %}

<div id="flyerportal"> 
    <section>
      <table width="98%" height="98%" cellpadding="10">
        <tr class="headers no-hover">
            <th>Drone Size</th>
            <th>Status</th>
            <th>Out on Delivery</th>
            <th>Actions</th>
        </tr>
        {% if drones %}
          {% for drone in drones %}
          <tr class="hover">
            <td>{{ drone.size }}</td>
            <td>
              {% if drone.active %}
                Active
              {% else %}
                Inactive
              {% endif %}
            </td>            
            <td>{{ drone.on_order }}</td>
            <td>
              <form id="active-form" method="post" action="{% url 'DroneConesApp:toggle_drone_status' drone.id %}">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ drone.id }}"> 
                <button class="" type="submit">
                  {% if drone.active %}
                    Deactivate
                  {% else %}
                    Activate
                  {% endif %}
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        {% else %}
        <tr>
          <td colspan="4">No drones found</td>
        </tr>
        {% endif%}  
      </table>
    </section>
    <aside>
      <h4>Drone Registry</h4>
      <hr>
      <form id="add-form" method="post" action="{% url 'DroneConesApp:create_drone' %}">
        {% csrf_token %}
        <div>
          <label for="size">Drone Size</label>
          {{ form.size.errors }}
          <select name="size" id="size">
            <option value="Small">Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>

        <div>
          <label for="active">Status</label>
          {{ form.active.errors }}
          <select name="active" id="active">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div>
        
        <button class="" type="submit">
          Register Drone
        </button>
      </form>
    </aside>
</div>

{% endblock %}