{% extends "misc/base.html" %}

{% block title %}Order{% endblock %}

{% load static %}
{% block content %}

{% comment "" %}  
Plan : Finished by this week 
    Composition:   
        Base html will handle the navbar and 
        Have selctions 
        Have floating boxes for each piece 
            For icecream selection have Image of icecream with a title under it 
                and for toppings and cones  
        Bottom floating action button? or sticky bar at bottom of the page 
            Like the Micky D app 
        Have a floating box that creates your current cone 
        List out the cones in another box 
        Current price next to the order button
        Add another cone to order button somewhere 
        

{% endcomment %}



{% endblock %}