.order{
    border-radius: 12px;
    transition: background-color 0.3s ease;
    padding: .8em;
    margin: 10px;
}

.headers{
    text-align: center;
    font-weight: bold;
    background-color: initial;
}

.no-hover:hover {
  background-color: initial !important;
}

.hover:hover {
    background: #ebebeb;
}

.order-item:hover {
  background-color: #7c0300ba;
}

.zebra:nth-child(even){
    background-color: lightgray;
    color: black;
}

.zebra:nth-child(odd){
    background-color: white;
    color: black;
}

.content-container{
    height: fit-content;
    width: 80%;
    padding: 1em;
    background-color: #f3f3f3;
    border-radius: 12px;
}

.button{
    padding: .25em;
    cursor:pointer;
    font-size: 14px;
    border: 2px solid #000;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #B48BD9
}