:root {
    --nav-bar-color: #B48BD9;
    --text-color: #000000;
    --button-color: #3C1361;
    --text-button-color: #FFFFFF;
    --background-color: #FFFFFF;
    --input-text-color: rgba(0, 0, 0, 0.50);
    --font-family: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-family);
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
  }
.orders {
    position: fixed;
    right:0;
    width: 500px;
    height: 150px;
    white-space: wrap;
    overflow-x: hidden;
    overflow-y: scroll

}
.orders div{
    width: 24.5%;
    float: none;
    height: 60%;
    margin: 0 0.25%;
    display: inline-flex;
    zoom: 1;
}
.item{
    text-align: center;
}

.sub-content-container{
    padding: 1em;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}
.content-container{
    height: fit-content;
    width: 80%;
    padding: 1em;
    background-color: #f3f3f3;
    border-radius: 12px;
}

.option-list{
    border-radius: 8px;
    border: 1px #000000 solid;
}

.list-label{
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.option-list li{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.3s;
}

.option-list a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.option-list li:hover {
    background-color: #b1b0b0; /* Change the background color on hover to gray */
    cursor: pointer;
}

.flavor-list {
    display: inline-block;
    margin-left: 50px;
    overflow-y: scroll;
}

.pick-icon{
    display: block;
    position: relative;
    text-align: center;
    float: left;
    text-decoration: none;
    color: black;
    padding: .5em;
    margin: 1em 1em 1em 1em;
    transition: background-color 0.3s ease;
    border-radius: 8px;
}

.pick-icon:hover{
    background-color: #B8B8B8;
}

.pick-icon li{
    list-style-type: none;
    font-size: 20px;
}

.button{
    padding: .25em;
    cursor:pointer;
    font-size: 14px;
    border: 2px solid #000;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #fccc19
}

.order-entry{
    display: inline-grid;
    justify-items: center;
    position: relative;
    text-decoration: none;
    color: black;
    padding: .5em;
    margin: 1em 1em 1em 1em;
    border-radius: 8px;
}

.order-entry span{
    font-size: 20px;
}

.section-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.section-title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section-new-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.load-details {
    text-decoration: underline;
    color: var(--button-color);
    cursor: pointer;
    font-weight: 400;
    margin: 8px;
}

#summary-chevron,
#billing-chevron,
#shipping-chevron {
    transform: none;
    transition: transform 0.3s ease;
}

#summary-chevron[data-display="true"], 
#billing-chevron[data-display="true"],
#shipping-chevron[data-display="true"] {
    transform: rotate(90deg);
}

.shipping-container,
.billing-container,
.summary-container {
    display: none;
    margin: 0px 24px 0px 24px;
}

.shipping-container[data-display="true"], 
.billing-container[data-display="true"],
.summary-container[data-display="true"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}