{% extends "DroneConesApp/misc/base.html" %}

{% block title %}Admin Panel{% endblock %}

{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'DroneConesApp/flyerportal.css' %}">
<div id="flyerportal">

    <div class="button-container">
        <button id="Drones">Drones</button>
        <button id="Inventory">Ice Cream</button>
    </div>

    <section>
        <table width="98%" height="98%" cellpadding="10">
          <tr class="headers no-hover">
              <th>Name</th>
              <th>Unit Price</th>
              <th>Quantity</th>
          </tr>
          {% for icecream in icecreams%}
          <tr class="hover">
            <td>{{ icecream.flavor }} Icecream</td>
            <td>{{ icecream.price }}</td>
            <td>{{ icecream.quantity }}</td>
          </tr>
          {% endfor %}
          {% for cone in cones %}
          <tr class="hover">
            <td>{{ cone.flavor }}</td>
            <td>{{ cone.price }}</td>
            <td>{{ cone.quantity }}</td>
          </tr>
          {% endfor %}
          {% for topping in toppings %}
          <tr class="hover">
            <td>{{ topping.flavor }}</td>
            <td>{{ topping.price }}</td>
            <td>{{ topping.quantity }}</td>
          </tr>
          {% endfor %}
        </table>
      </section>
    </div>
{% endblock %}
