{% extends "DroneConesApp/misc/base.html" %}

{% block title %}Admin Panel{% endblock %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'DroneConesApp/css/adminpanel.css' %}">
<script src="{% static 'DroneConesApp/adminpanel.js'%}" defer></script>
<link rel="stylesheet" href="{% static 'DroneConesApp/restock.css' %}">
<script src="{% static 'DroneConesApp/restock.js' %}" defer></script>
<div id="adminpanel">
    <div class="button-container">
        <button id="Drones">Drones</button>
        <button id="Inventory">Inventory</button>
        <button id="restock">Restock Inventory</button>
    </div>

    <section id="inventory">
        <table width="98%" height="98%" cellpadding="10">
          <tr class="headers no-hover">
              <th>Name</th>
              <th>Unit Price</th>
              <th>Quantity</th>
          </tr>
          {% for icecream in icecreams%}
          <tr class="hover">
            <td>{{ icecream.flavor }} Icecream</td>
            <td>{{ icecream.price }}</td>
            <td>{{ icecream.quantity }}</td>
          </tr>
          {% endfor %}
          {% for cone in cones %}
          <tr class="hover">
            <td>{{ cone.flavor }}</td>
            <td>{{ cone.price }}</td>
            <td>{{ cone.quantity }}</td>
          </tr>
          {% endfor %}
          {% for topping in toppings %}
          <tr class="hover">
            <td>{{ topping.flavor }}</td>
            <td>{{ topping.price }}</td>
            <td>{{ topping.quantity }}</td>
          </tr>
          {% endfor %}
        </table>
      </section>

      <section id="drones">
        <table width="98%" height="98%" cellpadding="10">
          <tr class="headers no-hover">
              <th>ID</th>
              <th>size</th>
              <th>active</th>
          </tr>
          {% for icecream in icecreams%}
          <tr class="hover">
            <td>{{ icecream.flavor }} Icecream</td>
            <td>{{ icecream.price }}</td>
            <td>{{ icecream.quantity }}</td>
          </tr>
          {% endfor %}
          {% for cone in cones %}
          <tr class="hover">
            <td>{{ cone.flavor }}</td>
            <td>{{ cone.price }}</td>
            <td>{{ cone.quantity }}</td>
          </tr>
          {% endfor %}
          {% for topping in toppings %}
          <tr class="hover">
            <td>{{ topping.flavor }}</td>
            <td>{{ topping.price }}</td>
            <td>{{ topping.quantity }}</td>
          </tr>
          {% endfor %}
        </table>

      </section>

    </div>
    <div class="modal-section" id="modal-section">
      <div class="modal-mask" id="modal-mask"></div>
      <div class="modal-container">
          <h1>Restock Item</h1>
          <form action="" method="POST" class="form-container">
              {% csrf_token %}
              <label for="order_item">Item:</label>
              <select name="order-item" id="order-item" class="form-input" required>
                  <option value="" disabled selected>Select an option</option>
                  {% for icecream in icecreams%}
                  <option value="{{ icecream.flavor }}">{{ icecream.flavor }} Icecream</option>
                  {% endfor %}
                  {% for cone in cones %}
                  <option value="{{ cone.flavor }}">{{ cone.flavor }} Cone</option>
                  {% endfor %}
                  {% for topping in toppings %}
                  <option value="{{ topping.flavor }}">{{ topping.flavor }}</option>
                  {% endfor %}
              </select>
              <label for="quantity">Quantity:</label>
              <input type="number" class="form-input" name="quantity" id="quantity" required>
              <button type="submit" class="button-primary" id="form-button" id="form-button">Order More!</button>
          </form>
      </div>
    </div>
{% endblock %}
