<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="static/mainStyle.css">
</head>
 <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="static/final.js" defer></script>
</head>
<body>
<div class="full-container">
    <nav class="navigation">
        <h1>DroneCones</h1>
        <div class="link_container"><a href="">Home</a></div>
        <div class="link_container"><a href="">Order Now</a></div>
        <div class="link_container"><a href="">Promotions</a></div>
        <div class="link_container"><a href="">Login</a></div>
    </nav>
    <div class="material-icons" id="menuButton">menu</div>
    <div class="navdrawer" id="navdrawer">
        <a><span class="material-icons">home</span>Home</a>
        <a><span class="material-icons">person</span>Account</a>
        <a><span class="material-icons">settings</span>Settings</a>
        <a><span class="material-icons">logout</span>Logout</a>
    </div>

    <h2>Navigation Drawer:</h2>
    <p>Click the 'Menu' button in the top left to view.</p>
    <h2>Buttons:</h2>
    <h3>Example:</h3>
    <p>See a standard button below. The FAB (Frequent Action Button, set to take you to the FAQ page) is located in the bottom right.</p>
    <div class="button-container">
        <button class="icon-button" id="button">
            <span class="material-icons">person</span>
        </button>
        <div class="FAB" id="FAB">
            <span class="material-icons">help</span>
        </div>
    </div>

    <h2>Loading Spinners:</h2>
    <h3>Examples:</h3>
<div class="all-spinners">
    <div class="spinner-container">
        <div id="spinner1">
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
            <div class="inner_circle"></div>
        </div>
    </div>

    <div class="spinner-container">
        <div id="spinner2">
            <div class="textSpinner">
                <span style="cursor: default">LOADING...</span>
            </div>
        </div>
    </div>
</div>

    <h2>References:</h2>
    <div class="link_container" style="width:240px;"><a href="https://www.section.io/engineering-education/how-to-make-an-image-carousel-for-your-website/">How to
        Make an Image Carousel</a></div>
</div>

</body>
</html>